a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#sidebar {
  margin-top: -24px;
  height: 100vh;
  background: #2460A9;
}

.sidebar-header {
  padding-top: 30px; 
}

.circle {
  width: 140px;
}

.menu-item {
  margin-top: 60px;
}