<nav id="sidebar" class="col-12">
  <div class="sidebar-header d-flex align-items-center flex-column mt-4">
    <picture>
      <img src="../../../assets/image/profilePhoto.jpeg" 
        class="img-fluid img-thumbnail circle rounded-circle" alt="profile Photo">
    </picture>
    <span class="mt-2">John Doe</span>
  </div>

  <div class="sidebar-body d-flex align-items-center flex-column">
    <a href="" class="menu-item">
      <fa-icon [icon]="faHome"></fa-icon> Dasboard
    </a>
  </div>
</nav>