<div class="row p-0 m-0">
  <div class="col-2 px-0">
    <app-sidebar></app-sidebar>
  </div>
  <div id="main" class="container col-10">

    <div class="row mb-3">
      <app-icon-bar class="col-12"></app-icon-bar>
    </div>

    <div class="row">
      <app-card-increment class="col-lg-3 col-md-6"></app-card-increment>
      <app-card class="col-lg-3 col-md-6"></app-card>
      <app-card class="col-lg-3 col-md-6"></app-card>
      <app-card class="col-lg-3 col-md-6"></app-card>
    </div>

    <div class="row">
      <app-timer class="col-12"></app-timer>
    </div>

    <div class="footer"></div>
    
  </div>
</div>