* {
  color: rgb(255, 255, 255);
}

.container {
  padding-top: 20px;
  background-color: #F8F8F8;
}

.footer {
  position: absolute;
  bottom: 2px;
  height: 60px;
  margin: 0;
  background-color: #C4D9F4;
  right: 15px;
  left: 15px;
}