<div class="card col-3 mt-3">
  <div class="card-header">
    Timer control
  </div>
  <div class="card-body">

    <!-- timer -->
    <div id="stopwatch" class="d-flex justify-content-center">
      <h2 id="time">00:00</h2>
      <span id="milliseconds" class="d-flex align-items-end pl-1 pb-2">000</span>
    </div>
    
    <!-- buttons -->
    <div class="d-flex align-items-center flex-column">
      <a href="#" id="startBtn" class="btn btn-primary my-2" (click)=startStopwatch()>
        <fa-icon [icon]="faPlay"></fa-icon> Start
      </a>
      <a href="#" class="btn btn-primary my-2" (click)=pauseStopwatch()>
        <fa-icon [icon]="faPause"></fa-icon> Pause
      </a>
      <a href="#" class="btn btn-danger my-2" (click)=restartStopwatch()>
        <fa-icon [icon]="faStop"></fa-icon> Restart
      </a>
    </div>

    
    
  </div>
</div>