<nav id="navbar" class="navbar navbar-expand">
    <ul class="navbar-nav ml-auto mr-3">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <fa-icon [icon]="faBell"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa-icon [icon]="faCalendar"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa-icon [icon]="faComments"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa-icon [icon]="faUser"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa-icon [icon]="faCog"></fa-icon>
        </a>
      </li>
    </ul>
</nav>